@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: white;
    width: 100%;
}

header h1 {
    padding-left: 5%;
}



nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5rem;
    width: 100%;
    padding-right: 5%;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-size: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding-top: 5%;
}

main p {
    display: flex;
    margin-bottom: auto;
    margin-right: auto;
    padding-left: 5%;
    font-size: 24px;
    width: 52%;
    padding-top: 5%;
}

main h1 {
    font-size: 18rem;
    z-index: 2;
    position: absolute;
    height: 600px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

main h2 {
    font-size: 15rem;
    z-index: 2;
    padding-top: 20%;
    position: absolute;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

main button {
    margin-left: 40%;
    width: 260px;
    height: 72px;
    border: none;
    margin-top: 60%;
    position: absolute;
}

main button a {
    font-size: 38px;
    color: black;
    font-weight: 550;
}

.mainUp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
}



.mainUp img {
    margin-left: auto;
    width: 32rem;
}

.mainDown {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.mainDown img {
    margin-right: auto;
    width: 32rem;
    padding-bottom: 5%;
}

.portfolio {
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
}

.portfolio h1 {
    font-size: 100px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 5%;
}

.left {
    width: 100%;
}

.left img {
    flex-direction: column;
    display: flex;
    margin-bottom: 15%;
    width: 30rem;
}

.colunas {
    display: flex;
    gap: 100px;
}

.right {
    width: 100%;
}

.right img {
    flex-direction: column;
    display: flex;
    margin-bottom: 15%;
    width: 30rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: white;
    display: flex;
    font-size: 40px;
    width: 100%;

}


.aboutImg img {
    width: 28rem;
}

.aboutTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 15%;
}

.aboutTitle h1 {
    font-size: 100px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 5%;
}

.space {
    height: 5rem;
}

.textAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.200rem;
    width: 37.5rem;
    color: white;
    line-height: 50px;

}

.testemunho {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding-top: 20%;
}

.testemunho h1 {
    font-size: 100px;
    padding-bottom: 3%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.testemunho p {
    font-size: 22 px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    gap: 103px;
}

.testimonials-container h1 {
    font-family: "Playfair Display", serif;
    font-size: 81.31px;
    font-weight: 400;
    color: white;
}

.testimonials-container p {
    font-size: 1.375rem;
    width: 70%;
    text-align: center;
    color: white;
}

.cards {
    display: flex;
    width: 100%;
    height: 673px;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.cards h1 {
    font-family: "Inter", sans-serif;
    width: 379.37px;
    font-weight: 600;
    font-size: 44px;
    line-height: 101.52%;
    margin: 5px;
    color: #FFFFFF;
}

.cards p {
    font-size: 15px;
    font-weight: 300;
    width: 290.21px;
    text-align: start;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    flex-direction: column;
}

.card article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.card article div {
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 23px 23px;
}

.card button {
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.column-card {
    display: flex;
    flex-direction: column;
    width: 327.08px;
    height: 100%;
    background-color: #181818;
}

.column-card div {
    display: flex;
    padding: 17px 17px;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
}

.column-card h1 {
    width: 90%;
}

.column-card p {
    width: 220.54px;
}

.column-card button {
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.testimonials-button {
    width: 221.95px;
    height: 77.8px;
    border: solid 1.36px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


.contact {
    padding-top: 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5%;
}

.contact h1 {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: 400;
}

form input {
    background-color: transparent;
    display: flex;
    border: none;
    border-bottom: 1.5px solid white;
    flex-direction: column;
    width: 40rem;
    height: 60px;
    margin-bottom: 5%;
}

label {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

textarea {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1.5px solid white;
    background-color: transparent;
    width: 40rem;
    height: 100px;
}

form {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

form button {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    height: 60px;
    width: 170px;
    border: none;
}

form button a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
}


footer {
    padding-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

footer h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 30px;
}

.finalFooter {
    gap: 30px;

    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.finalFooter a {
    color: white;
    padding-bottom: 100px;
}